{% extends "base_duenio.html" %}
{% block cuerpo %}

<div class="container-fluid" style="width:80%">
<h1>Datos del Tratamiento</h1>
    <form method="POST" class="post-form">
    {% csrf_token %}
    
    <table>
		<tr>
		    <td id="tabla_label_general">Nombre</td>
		    <td id="tabla_input_general">{{ form.nombre }}</td> 
		    <td id="tabla_mensaje_error">
		    	{{ form.nombre.errors }}
		    <td>  
		</tr>
		<tr>
		    <td id="tabla_label_general">Información</td>
		    <td id="tabla_input_general">{{ form.informacion }}</td>
		    <td id="tabla_mensaje_error">
		    	{{ form.informacion.errors }}
		    <td>   
		</tr>
		<tr>
		    <td id="tabla_label_general"></td>
		    <td id="tabla_input_general" style="padding-top:20px;"><button type="submit" class="save btn btn-default">Guardar</button></td> 
		</tr>
    
     </form>
    </table>
        
   
</div>
{% endblock %}