{% extends "base.html" %}

{% load static %}

{% block navbar %}	
<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <a class="navbar-brand" href="../home_tecnico">Home</a> 
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="../equipos_tecnico">Equipos</a></li>
        <li><a href="../tratamientos_tecnico">Tratamientos</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Alquileres <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="../estado_alquileres_tecnico">Ver mis alquileres</a></li>
            <li class="divider"></li>
            <li><a href="../alquiler_equipos">Reservar equipo</a></li>
          </ul>
        </li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
       		<p style="color:dimgray;"> <span class="glyphicon glyphicon-user"></span> {{ usuario }} </p>
            <p style="color:dimgray;"> <span class="glyphicon glyphicon-calendar"></span> {{ fecha }}  </p>
         
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
{% endblock %}

		{% block cuerpo %}
		<div class="container-fluid" style="width:90%">
				{% block divcentro %}
				{% endblock %}
		</div>
		{% endblock %}