{% extends "base.html" %}

{% load static %}

{% block navbar %}	
<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="../home_duenio">Home</a> 
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Equipos <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="../equipos_duenio">Ver equipos</a></li>
            <li><a href="../reservas_duenio">Ver reservas</a></li>
            <li class="divider"></li>
            <li><a href="../nuevo_equipo">Nuevo equipo </a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tratamientos <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="../tratamientos_duenio">Ver tratamientos</a></li>
            <li class="divider"></li>
            <li><a href="../nuevo_tratamiento">Nuevo tratamiento </a></li>
          </ul>
        </li>
        <li><a href="../registrar_mantenimiento">Registrar Mantenimiento</a></li>
        <li><a href="#">Estadisticas</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
       		<p style="color:dimgray;"> <span class="glyphicon glyphicon-user"></span> {{ usuario }} </p>
            <p style="color:dimgray;"> <span class="glyphicon glyphicon-calendar"></span> {{ fecha }}  </p>
         
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
{% endblock %}

{% block cuerpo %}
		<div class="container-fluid" style="width:90%">
				{% block divcentro %}
				{% endblock %}
		</div>
		{% endblock %}