{% extends "base_duenio.html" %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">	
{% block divcentro %}

<div id="listado_equipos">
<table>
	<th id="titulo_tabla_equipos">Equipo </th>
	<th id="titulo_tabla_equipos">Estado </th>
	<th id="titulo_tabla_equipos">Próximo Mantenimiento </th>
	<th> </th>
	<tr></tr>
		<td style="padding-top: 30px;"></td>
		<td></td>
		<td id="titulo_tabla_equipos"> (pulsos)</td>
		<td></td>
	<tr>
	{% for equipo in equipos %}
	{% csrf_token %}
	<form action='' method="get">
	<input type="hidden" name="id_equipo" value={{ equipo.num_serie }}>
	    <td>
	    	<div class="alert" role="alert" style="background-color:#C1D8D7;"> 
			  <table id='tabla_reservado'>
	  				<tr> 
	  					<td id="estado_alquiler_equipo">{{ equipo.nombre }}</td>
	  				</tr>
	  				<tr>
	  					<td id="estado_alquiler">Num. Serie: {{ equipo.num_serie }}</td>
	  				</tr>
	  				<tr>
	  					<td id="estado_alquiler">$ Día: {{ equipo.precio_dia }}</td>
	  				</tr>
	  				{% if equipo.periodo_mantenimiento != 0 %}
	  				<tr>
	  					<td id="estado_alquiler">Periodo Mantenimiento: {{ equipo.periodo_mantenimiento }}</td>
	  				</tr>
	  				{% else %}
	  				<tr>
	  					<td id="estado_alquiler">No requiere mantenimiento</td>
	  				</tr>
	  				{% endif %}
	    		</table>
			</div>
	    </td>
	    <td style="padding-left: 10px;">
	    		<div class="alert" role="alert" style="background-color:#86FA88; color:black;" id="{{ equipo.num_serie }}">
	    			<table id="tabla_estados_equipos">
		  				<tr> 
		  				{% for estado in estados %}
	               			{% if estado.equipo == equipo %}
	  						<td id="estado_alquiler_equipo">{{ estado.estado }}</td>
	  						{% endif %}
	  					{% endfor %}
	  					</tr>
		    		</table>
	    		</div> 
	    </td>
	    
	    <td style="padding-left: 10px;"> 
	    {% if equipo.marca == 'C' %}
	    <p id="mantenimientoCandela" style="font-size:30px; font-weight: bold;font-family: 'Nanum Gothic', sans-serif;text-align: center; color: #47504F;"> 
		    
		    {% for pulso in pulsos %}
	               			{% if pulso.equipo == equipo %}
	               				{{ pulso.pulsos }} 
	               			{% endif %}
	        {% endfor %}
	        
	        </p>
	    {% endif %}    	
	    </td>
	    
	    
	    <td style="padding-left: 10px;"> <button type="submit" class="save btn btn-success" value="editar" name="editar">Editar Equipo</button>
	    </td>
	    </form>
	 </tr>
	 {% endfor %}
	 
	 
</table>
</div>
<script>
$( document ).ready(function() {
	
	$('#tabla_estados_equipos td').each(function() {
	    var cellText = $(this).html();
	    if(cellText=='Libre'){
	    	var parent = $(this).parent().closest('div').attr("id");
	    	$('#' + parent).css("background-color", "#00e68a");
	    }
	    if(cellText=='En Curso'){
	    	var parent = $(this).parent().closest('div').attr("id");
	    	$('#' + parent).css("background-color", "#6699ff");
	    }
	});
});
		</script>


{% endblock %}