{% extends "base_general.html" %}
{% load static %}

{% block cuerpo %}
<div >
									{% if errores %}
								            <ul>
								            {% for error in errores %}
								                <li style= "color:red;font-size: 150%;">{{ error }} </li> 
								            {% endfor %}
								            </ul>
								    {% endif %}
									</div>
<div class="modal fade login-register-form" role="dialog">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a data-toggle="tab" href="#login-form"> Cliente <span class="glyphicon glyphicon-user"></span></a></li>
                                            <li><a data-toggle="tab" href="#registration-form"> Técnico <span class="glyphicon glyphicon-star-empty"></span></a></li>
                                        </ul>
                                    </div>
                                    <div class="modal-body">
                                        <div class="tab-content">
                                            <div id="login-form" class="tab-pane fade in active">
                                                 <form form method="POST" class="post-form">
                                                {% csrf_token %}
                                                    <div class="form-group">
					                                  <label for="nombre">Nombre</label>
					                                  {{ formCliente.nombre }}
					                              </div>
					                              <div class="form-group">
					                                  <label for="newemail">Email:</label>
					                                 {{ formCliente.mail }}
					                              </div>
					                              <div class="form-group">
					                                  <label for="telefono">Teléfono</label>
					                                  {{ formCliente.telefono }}
					                              </div>
					                              <div class="form-group">
					                                  <label for="usuario">Usuario</label>
					                                  {{ formCliente.usuario }}
					                              </div>
					                              <div class="form-group">
					                                  <label for="newpwd">Password:</label>
					                                  {{ formCliente.contrasenia }}
					                              </div>
                                                    <button type="submit" class="btn btn-default">Registrarse</button>
                                                </form>
                                            </div>
                                            <div id="registration-form" class="tab-pane fade">
                                            
                                            
                                                <form form method="POST" class="post-form">
                                                {% csrf_token %}
					                              <div class="form-group">
					                                  {{ formTecnico.nombre }}
					                              </div>
					                              <div class="form-group">
					                                  {{ formTecnico.dni }}
					                             
					                              </div>
					                              <div class="form-group">
					                                  {{ formTecnico.mail }}
					                              </div>
					                              <div class="form-group">
					                                  {{ formTecnico.direccion }}
					                              </div>
					                              <div class="form-group">
					                                 {{ formTecnico.telefono }}
					                              </div>
					                              <div class="form-group">
					                                  {{ formTecnico.usuario }}
					                              </div>
					                              <div class="form-group">
					                                  {{ formTecnico.contrasenia }}
					                              </div>
					                              <button type="submit" class="btn btn-default">Registrarse</button>
					                          </form>
                                            </div>

                                        </div>
                                    </div>
                                
                                </div>
                            </div>
</div>
<div class="container-fluid" style="width:70%">
	<p style="font-size:25px;font-family: 'Indie Flower', cursive;">A continuación se detallan los precios, condiciones de alquiler de los equipos disponibles y 
	la información sobre su funcionamiento.</p>
</div>
<br>
<div class="container-fluid" style="width:100%;">
      <div class="row m-auto text-center w-75">
      {% for equipo in equipos %}
 		{% if equipo.marca == "V" %}
       
        <div class="col-4 princing-item rosa" style="display: inline-block;width:300px;">
          <div class="pricing-divider ">
              <h3 style="color:#dfdce3;font-family: 'Lobster', cursive;">{{ equipo.nombre }} ({{ equipo.num_serie }})</h3>
              <div class="container_equipo" style="margin: 0 auto;" >
				<img src="{% static "/img/venus_legacy.png" %}" />
			  </div>
			  <br>
			  <p>Radiofrecuencia, pulsos magnéticos y tecnología VariPulse™ para tratar la flacidez y la celulitis de manera integral.</p>                
          </div>
          <div class="card-body bg-white mt-0 shadow">
            <ul class="list-unstyled mb-5 position-relative">
              <li><b>Precio por día</b> $ {{ equipo.precio_dia }}</li>
              {% for recargo in recargos %}
	               {% if recargo.equipo == equipo %}
	              	
	              		<li><b>Recargo por </b> {{recargo.rango }} dia/s: $ {{recargo.precio }} (cada día)</li>
	              	
		              
		            {% endif %}
	              {% endfor %}
            </ul>
          </div>
        </div>
       {% endif %}
  		{% if equipo.marca == "C" %}
        <div class="col-4 princing-item celeste" style="display: inline-block;width:300px;">
          <div class="pricing-divider ">
              <h3 style="color:#dfdce3;font-family: 'Lobster', cursive; ">{{ equipo.nombre }} ({{ equipo.num_serie }})</h3>
              <div class="container_equipo" style="margin: 0 auto;" >
				<img src="{% static "/img/candela.gif" %}" />
			  </div> 
			  <br>
			  <p>Láser para tratar la eliminación del vello no deseado y lesiones vasculares, pigmentadas y arrugas.</p>
          </div>

          <div class="card-body bg-white mt-0 shadow">
            <ul class="list-unstyled mb-5 position-relative">
              <li><b>Precio por día</b> $ {{ equipo.precio_dia }}</li>
	              {% for recargo in recargos %}
	               {% if recargo.equipo == equipo %}
	              	
	              		<li><b>Recargo por </b> {{recargo.rango }} pulsos: $ {{recargo.precio }} (cada pulso)</li>
	              	
		              
		            {% endif %}
	              {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}
      
      {% endfor %}
      </div>
      
    
  
</div>

{% endblock %}