{% extends "base_tecnico.html" %}

{% load static %}

{% block cuerpo %}
<div class="container-fluid" style="width:70%">
	<p style="font-size:25px;font-family: 'Indie Flower', cursive;">A continuación se detallan los precios, condiciones de alquiler de los equipos disponibles y 
	la información sobre su funcionamiento.</p>
</div>
<br>
<div class="container-fluid" style="width:80%;">
      <div class="row m-auto text-center w-75">
      {% for equipo in equipos %}
 		{% if equipo.marca == "V" %}
       
        <div class="col-4 princing-item rosa" style="display: inline-block;width:300px;">
          <div class="pricing-divider ">
              <h3 style="color:#dfdce3;font-family: 'Lobster', cursive;">{{ equipo.nombre }} ({{ equipo.num_serie }})</h3>
              <div class="container_equipo" style="margin: 0 auto;" >
				<img src="{% static "/img/venus_legacy.png" %}" />
			  </div>
			  <br>
			  <p>Radiofrecuencia, pulsos magnéticos y tecnología VariPulse™ para tratar la flacidez y la celulitis de manera integral.</p>                
          </div>
          <div class="card-body bg-white mt-0 shadow">
            <ul class="list-unstyled mb-5 position-relative">
              <li><b>Precio por día</b> $ {{ equipo.precio_dia }}</li>
              {% for recargo in recargos %}
	               {% if recargo.equipo == equipo %}
	              	
	              		<li><b>Recargo por </b> {{recargo.rango }} dia/s: $ {{recargo.precio }} (cada día)</li>
	              	
		              
		            {% endif %}
	              {% endfor %}
            </ul>
          </div>
        </div>
       {% endif %}
  		{% if equipo.marca == "C" %}
        <div class="col-4 princing-item celeste" style="display: inline-block;width:300px;">
          <div class="pricing-divider ">
              <h3 style="color:#dfdce3;font-family: 'Lobster', cursive; ">{{ equipo.nombre }} ({{ equipo.num_serie }})</h3>
              <div class="container_equipo" style="margin: 0 auto;" >
				<img src="{% static "/img/candela.gif" %}" />
			  </div> 
			  <br>
			  <p>Láser para tratar la eliminación del vello no deseado y lesiones vasculares, pigmentadas y arrugas.</p>
          </div>

          <div class="card-body bg-white mt-0 shadow">
            <ul class="list-unstyled mb-5 position-relative">
              <li><b>Precio por día</b> $ {{ equipo.precio_dia }}</li>
	              {% for recargo in recargos %}
	               {% if recargo.equipo == equipo %}
	              	
	              		<li><b>Recargo por </b> {{recargo.rango }} pulsos: $ {{recargo.precio }} (cada pulso)</li>
	              	
		              
		            {% endif %}
	              {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}
      
      {% endfor %}
      </div>
      
    
  
</div>

{% endblock %}