{% extends "base_duenio.html" %}
{% block cuerpo %}

<div class="container-fluid" style="width:80%">

    {% csrf_token %}
   <div class="jumbotron">
	  <h1 class="display-4">Tratamiento registrado con éxito!</h1>
	  <p id="mensaje_reserva_exitosa" class="lead">Se ha registrado el tratamiento asignado al equipo en el sistema. </p>
	  <hr class="my-4">
	  <p id="mensaje_reserva_exitosa_precio" class="lead"></p>
	  <a class="btn btn-primary btn-lg" href="../alta_equipo_tratamiento" role="button">Registrar otro</a>
	  <a class="btn btn-primary btn-lg" href="../tratamientos_duenio" role="button">Ver tratamientos</a>
	</div>
</div>
{% endblock %}