{% extends "base_tecnico.html" %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">	
{% block divcentro %}

<table >
{% for alquiler in alquileres %}
{% csrf_token %}
<form action='' method="get">
	<tr>
	    <td>
		    	<div class="alert" role="alert" style="background-color:#F8FA89;" id="{{ alquiler.id }}"> 
				  <input type="hidden" name="id_alquiler" value={{ alquiler.id }}>
				  <table id='tabla_reservado'>
		  				<tr> 
		  					<td id="estado_alquiler_equipo" name="{{ alquiler.equipo }}">{{ alquiler.equipo }}</td>
		  				</tr>
		  				<tr>
		  				{% if alquiler.estado == 'R' %}
		  					<td id="estado_alquiler">Reservado</td>
		  				{% elif alquiler.estado == 'O' %}
		  					<td id="estado_alquiler">Cancelado</td>
	  					{% elif alquiler.estado == 'C' %}
	  					<td id="estado_alquiler">Confirmado</td>
	  					{% elif alquiler.estado == 'E' %}
	  					<td id="estado_alquiler">En curso</td>
	  					{% elif alquiler.estado == 'F' %}
	  					<td id="estado_alquiler">Finalizado</td>
	  					{% elif alquiler.estado == 'S' %}
	  					<td id="estado_alquiler">Esperando Confirmación</td>
	  					{% elif alquiler.estado == 'P' %}
	  					<td id="estado_alquiler">Pagado</td>
		  				{% endif %}
		  				</tr>
		    		</table>
				</div>
	    </td>
	    <td style="padding-left: 10px;">
	    		<div class="alert" role="alert" style="background-color:#DBF0EE; color:black;" >
	    			<table>
		  				<tr> 
		  					<td><b>Desde: </b></td>
		  					<td> {{ alquiler.desde }}</td>
		  				</tr>
		  				<tr>
		  					<td><b>Hasta:  </b></td>
		  					<td>{{ alquiler.hasta }}</td>
		  				</tr>
		  				<tr>
		  					<td><b>Precio:  </b></td>
			  				<td>$ {{ alquiler.precio }}</td>
		  				</tr>
		    		</table>
	    		</div> 
	    </td>
	    {% if alquiler.estado == 'R' %}
	    <td style="padding-left: 10px;"> <button type="submit" class="save btn btn-success" value="confirmar" name="confirmar">Confirmar</button>	
	    </td>
	    <td style="padding-left: 10px;"> <button type="submit" class="save btn btn-danger" value="cancelar" name="cancelar">Cancelar</button>	
	    </td>
	    {% elif alquiler.estado == 'S' %}
	    <td style="padding-left: 10px;"> <button type="submit" class="save btn btn-success" value="confirmar" name="confirmar">Confirmar</button>	
	    </td>
	    <td style="padding-left: 10px;"> <button type="submit" class="save btn btn-danger" value="cancelar" name="cancelar">Cancelar</button>	
	    </td>
	    {% elif alquiler.estado == 'C' %}
	     <td style="padding-left: 10px;"><button type="submit" class="save btn btn-danger" value="cancelar" name="cancelar">Cancelar</button>	
	    </td>
	    {% elif alquiler.estado == 'F' %}
				    	{% if alquiler.precio_exceso %}
				    		<td></td>
				    		<td id="estado_reserva" style="color:red; font-weight: bold;"> *se debe pagar ${{ alquiler.exceso_precio }} Por exceso de uso</td>
				    	{% endif %}
		{% elif alquiler.estado == 'P' %}
		<td></td>
		<td id="estado_reserva" style="color:black; font-weight: bold;"> Se pago ${{ alquiler.pagado }}</td>
	    {% endif %}
	 </tr>
	 </form>
	 {% endfor %}
</table>
<script>
$( document ).ready(function() {
	
	$('#tabla_reservado td').each(function() {
	    var cellText = $(this).html();
	    
	    if(cellText=='Finalizado'){
	    	var parent = $(this).parent().closest('div').attr("id");
	    	$($('#' + parent)).css("background-color", "#d6d6c2");
	    }
	    if(cellText=='En curso'){
	    	var parent = $(this).parent().closest('div').attr("id");
	    	$($('#' + parent)).css("background-color", "#00e68a");
	    }
	    if(cellText=='Confirmado'){
	    	var parent = $(this).parent().closest('div').attr("id");
	    	$($('#' + parent)).css("background-color", "#6699ff");
	    }
	    if(cellText=='Cancelado'){
	    	var parent = $(this).parent().closest('div').attr("id");
	    	$($('#' + parent)).css("background-color", "#adad85");
	    }
	    if(cellText=='Esperando Confirmación'){
	    	var parent = $(this).parent().closest('div').attr("id");
	    	$($('#' + parent)).css("background-color", "#ff4d4d");
	    }
	    if(cellText=='Pagado'){
	    	var parent = $(this).parent().closest('div').attr("id");
	    	$($('#' + parent)).css("background-color", "#f9c2f7");
	    }
	});
});
		</script>

{% endblock %}