{% extends "base_duenio.html" %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">	
{% block divcentro %}

<div style="width:50%" id="formulario_nuevo_equipo">
<h2>Registrar Equipo</h2>
<br>

<table>
  <tr>
    <td style="width:200px;"><label for="numero_de_serie">Número de Serie</label></td>
    <td style="padding-left:10px; padding-top:10px; width:200px;"><input type="text" class="form-control" id="numero_de_serie" placeholder="6789"></td>
    <td style="padding-left:10px; padding-top:10px; color:red; width:200px;" id="error_numero_serie"><td>
  </tr>
  <tr>
    <td><label for="nombre">Nombre</label></td>
    <td style="padding-left:10px; padding-top:10px;"><input type="text" class="form-control" id="nombre" placeholder="Candela"></td>
  </tr>
  <tr>
    <td><label for="marca">Marca</label></td>
    <td style="padding-left:10px; padding-top:10px;"><input type="text" class="form-control" id="marca" placeholder="Candela"></td>
  </tr>
  <tr>
    <td><label for="fecha_compra">Fecha de Compra</label></td>
    <td style="padding-left:10px; padding-top:10px;"><input type="text" class="form-control" id="fecha_compra" placeholder="dd/mm/aaaa"></td>
  </tr>
  <tr>
    <td><label for="mantenimiento">Periodo de uso para mantenimiento</label></td>
    <td style="padding-left:10px; padding-top:10px;"><input type="text" class="form-control" id="mantenimiento1" placeholder="días/pulsos"></td>
  </tr>
  <tr>
    <td><label for="precio_dia">Precio por dia</label></td>
    <td style="padding-left:10px; padding-top:10px;"><input type="text" class="form-control" id="precio_dia" placeholder="$"></td>
  </tr>
  <tr>
    <td><label for=""unidad_medida"">Unidad de Medida</label></td>
    <td style="padding-left:10px; padding-top:10px;"><select id="unidad_medida" class="form-control">
        <option selected>Días</option>
        <option>Pulsos</option>
      </select> </td>
  </tr>
  <tr>
  	<td></td>
    <td style="padding-left:10px; padding-top:10px;">
      <button class="btn btn-primary" onclick="registrarEquipo()" style="float:right;">Registrar</button>
    </td>
  </tr>
</table>
</div>
<div id="confirmacion_registro_equipo" style="display: none;" class="form-inline">

	<div class="jumbotron">
	  <h1 class="display-4">Registro exitoso</h1>
	  <p id="mensaje_alta_exitosa" class="lead"> </p>
	  <hr class="my-4">
	  <a class="btn btn-primary btn-lg" href="../equipos_duenio" role="button">Ver equipos</a>
	  <a class="btn btn-primary btn-lg" href="../nuevo_equipo" role="button">Registrar otro equipo</a>
	</div>
</div>
{% endblock %}