{% extends "base_cliente.html" %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/alquiler_equipos.css' %}">

{% block divcentro %}
{% if errores %}
            <ul>
            {% for error in errores %}
                <li style= "color:red;font-size: 150%;">{{ error }} </li> 
            {% endfor %}
            </ul>
    {% endif %}
<div id="formulario_reserva">
<form method="POST" class="post-form">
    {% csrf_token %}
	<h2 onclick="mostrarDiv('div_tratamientos')">1. Seleccionar Tratamiento</h2>
	
	<div id="div_tratamientos" style="display: none;" class="form-inline">
		<div style="font-size:20px;font-family: 'Nanum Gothic', sans-serif; color:black">
			{{ form.tratamiento }}
		</div>
	</div>
	
	<h3 id="error_fechas" style="color:red;"></h3>
	<h2 onclick="mostrarDiv('div_fechas')">2. Elegir Fecha</h2>
	<div id="div_fechas" style="display: none;color:black" class="form-inline">
		{{ form.fecha }}

		<script>
		$(function() {
		  $("form input[name='fecha'").daterangepicker({
		    timePicker: false,
		    singleDatePicker: true,
		    startDate: moment().startOf('hour').add(24, 'hour'),
		    locale: {
		      format: 'YYYY-MM-DD'
		    }
		  });
		});
	</script>
	</div>

	<br>
	<h2>3. 
	<Button class="button" onclick="reservar('fechas')">Reservar</Button></h2>
	</form>
</div>

{% endblock %}
