{% extends "base_general.html" %}
{% block cuerpo %}

<div class="container-fluid" style="width:80%">
<p style="font-size:30px;font-family: 'Indie Flower', cursive;">A continuación encontraras toda la información y las preguntas frecuentes
sobre los tratamientos posibles a realizar con los equipos Candela y Venus Legacy.
 </p>
 <br>
 <hr class="my-4">
 			<table>
				<tr>
				    <td><h1 style="color:#dfdce3;font-family: 'Lobster', cursive;">Depilación Láser - Candela</h1></td>
				     <td><span class="glyphicon glyphicon-chevron-down" onclick="mostrarDiv('info_candela')"></span></td>
					<td><span class="button" >Reservar turno</span>	</td>
				</tr>
			</table>
	<div id="info_candela" style="display: none;">
		<div class="jumbotron" style="font-size:20px;font-family: 'Nanum Gothic', sans-serif;">
		  <h2 class="display-4" style="color:#fc4a1a">1. ¿Qué puedo tratarme con Candela?</h2>
			<p class="lead">Con el láser Candela es posible tratar todas las zonas del cuerpo para eliminar el vello no deseado: rostro, brazos, piernas, axilas, pecho, espalda y todas las zonas que estás acostumbrada depilarte.</p>
		  <hr class="my-4">
		  <h2 class="display-4" style="color:#fc4a1a">2. ¿Cómo es el tratamiento con Candela?</h2>
			<p class="lead">Con Candela los tratamientos dejaron de ser dolorosos. 
			Además no precisás gel como sucede con el común de los tratamientos con luz o láser. 
			El sistema de frío de Candela permite que se destruya el folículo piloso sin dañar la piel. </p>
			<p class="lead">Las sesiones son muy rápidas dado que no es necesario ningún tipo de preparación previa y te vas completamente depilada.</p>
			<p class="lead">La cantidad de sesiones necesarias para completar el tratamiento dependerá de la zona a tratar y de las características biológicas de cada persona.</p>
		  <hr class="my-4">
		   <h2 class="display-4" style="color:#fc4a1a">3. ¿Es doloroso el tratamiento?</h2>
			<p class="lead">La depilación con Candela no duele ni molesta. El sistema patentado de Candela prepara la piel en cuestión de milisegundos. 
			Antes de que se emita el láser sobre la piel, el sistema aplica una capa de criógeno refrigerante. 
			De esta manera, la piel queda protegida y libre de dolor.</p>
		  <hr class="my-4">
		  <h2 class="display-4" style="color:#fc4a1a">4. ¿Qué precauciones debo tomar para este procedimiento?</h2>
			<p class="lead">Las precauciones son pocas pero necesarias para que el tratamiento sea un éxito: </p>
			<p class="lead">Evitá la exposición al sol durante las dos semanas anteriores a la sesión o esperá a que el bronceado desaparezca para iniciar el tratamiento. 
			No decolores el pelo ni lo depiles con pinzas o cera, antes y durante el tratamiento.</p>
			<hr class="my-4">
		  <h2 class="display-4" style="color:#fc4a1a">5. ¿Es seguro el tratamiento con Candela?</h2>
			<p class="lead">El tratamiento con Candela es totalmente seguro. La tecnología Candela posee, a nivel internacional, la aprobación de la Administración de Alimentos y Medicamentos de los Estados Unidos (FDA) y de su homónima europea. 
			A nivel nacional, posee la aprobación de la Administración Nacional de Medicamentos, Alimentos y Tecnología Médica (ANMAT).</p>
			<hr class="my-4">
		  <h2 class="display-4" style="color:#fc4a1a">6. ¿Cuánto dura la sesión?</h2>
			<table>
				<tr>
				    <td>Axilas</td>
				    <td>5 Minutos</td> 
				 </tr>
				 <tr>
				    <td>Brazos</td>
				    <td>15 Minutos</td> 
				 </tr>
				 <tr>
				    <td>Bozo y mentón</td>
				    <td>5 Minutos</td> 
				 </tr>
				 <tr>
				    <td>Piernas</td>
				    <td>20 Minutos</td> 
				 </tr>
				 <tr>
				    <td>Gluteos</td>
				    <td>10 Minutos</td> 
				 </tr>
				 <tr>
				    <td>Cavado</td>
				    <td>10 Minutos</td> 
				 </tr>
				 <tr>
				    <td>Tira de cola</td>
				    <td>3 Minutos</td> 
				 </tr>
			</table>
		</div>
	</div>
	
	<hr class="my-4">
	
	<table>
				<tr>
				    <td><h1 style="color:#dfdce3;font-family: 'Lobster', cursive;">Radiofrecuencia - Venus Legacy</h1></td>
				     <td><span class="glyphicon glyphicon-chevron-down" onclick="mostrarDiv('info_venus')"></span></td>
					<td><span class="button" >Reservar turno</span>	</td>
				</tr>
			</table>
	
	<div id="info_venus" style="display: none;">
		<div class="jumbotron" style="font-size:20px;font-family;background-color:#99e699 ;: 'Nanum Gothic', sans-serif;">
			<h2 class="display-4" style="color:#248f24">¿Qué es Venus Legacy?</h2>
			<p class="lead">Venus Legacy ofrece tratamientos 100% seguros e indoloros para todo tipo de piel, brindando los siguientes resultados -inmediatos y a largo plazo- para rostro, cuello y cuerpo:</p>
				<ul>
				<li>Remodelación corporal sin cirugía</li>
				<li>Reducción de celulitis</li>
				<li>Reducción de arrugas</li>
				<li>Reducción de la circunferencia corporal</li>
				<li>Reducción de flacidez</li>
				</ul>
		  	<hr class="my-4">
		  	<h2 class="display-4" style="color:#248f24">1. ¿Qué necesito hacer para prepararme antes del tratamiento?</h2>
		  	<p class="lead">Absolutamente nada. ¡Trae una almohada ya que tal vez que te quedes dormida!</p>
		  	<hr class="my-4">
		  	<h2 class="display-4" style="color:#248f24">2. ¿Se necesita reposo o algún cuidado especial después del tratamiento?</h2>
		  	<p class="lead">No. Una sesión de Legacy en un área toma menos de 30 minutos y se puede aplicar maquillaje o bronceador inmediatamente después, si lo deseas.</p>
		  	<hr class="my-4">
		  	<h2 class="display-4" style="color:#248f24">3. ¿Hay algún dolor o incomodidad?</h2>
		  	<p class="lead">¡Ninguno! De hecho, la mayoría de los pacientes duermen o simplemente se relajan durante el tratamiento.  La sensación es absolutamente confortable.</p>
		  	<hr class="my-4">
		  	<h2 class="display-4" style="color:#248f24">4. ¿Qué tan exitosos son las sesiones?</h2>
		  	<p class="lead">La mayoría de los pacientes ven resultados en tan sólo tres sesiones. 
		  	Sin embargo, recomendamos una serie completa de seis sesiones en el rostro y de ocho a diez en el cuerpo, para obtener resultados óptimos.</p>
		  	<hr class="my-4">
		  	<h2 class="display-4" style="color:#248f24">5. ¿Cuántos sesiones necesito?</h2>
		  	<p class="lead">Para obtener resultados óptimos recomendamos 6 sesiones para el rostro y cuello y de 8 a 10 para el cuerpo. 
		  	No es raro que los pacientes continúen viendo mejoras en su piel hasta tres meses después de que el tratamiento se ha completado.</p>
		  	<hr class="my-4">
		  	<h2 class="display-4" style="color:#248f24">6. ¿Cómo me sentiré después de la sesión de Legacy?</h2>
		  	<p class="lead">Relajado y en el área se sentirá calor. En ocasiones la piel se ve un poco rosada. El calor y color rosado no durarán más de una hora.</p>
		  	<hr class="my-4">
		  	<h2 class="display-4" style="color:#248f24">7. ¿Cómo son los tratamientos?</h2>
		  	<p class="lead">Mientras te recuestas cómodamente en una cama de tratamiento, el técnico aplicará un gel de tratamiento en la piel.  
		  	Esta loción ayuda a que el aplicador se deslice en la superficie de tu piel.  El tamaño correcto de aplicador es seleccionado y el operador del tratamiento empezará a realizar movimientos suaves y consistentes en la superficie de la piel.  
		  	Se siente como un buen masaje tibio. Les recomendamos a nuestros pacientes cerrar los ojos y tomar este tiempo para relajarse y despejar la mente.</p>
		  	<hr class="my-4">
		  	<h2 class="display-4" style="color:#248f24">8. ¿Cuánto dura la sesión?</h2>
		  	<table>
				<tr>
				    <td>Brazos</td>
				    <td>40 Minutos</td> 
				 </tr>
				 <tr>
				    <td>Abdomen</td>
				    <td>30 Minutos</td> 
				 </tr>
				 <tr>
				    <td>Flancos</td>
				    <td>30 Minutos</td> 
				 </tr>
				 <tr>
				    <td>Linea de Brasier</td>
				    <td>20 Minutos</td> 
				 </tr>
				 <tr>
				    <td>Gluteos</td>
				    <td>30 Minutos</td> 
				 </tr>
				 <tr>
				    <td>Piernas</td>
				    <td>60 Minutos</td> 
				 </tr>
				 <tr>
				    <td>Pantalón de montar</td>
				    <td>30 Minutos</td> 
				 </tr>
			</table>
		</div>
	</div>
	 <hr class="my-4">
</div>
{% endblock %}