{% extends "base_tecnico.html" %}

{% load static %}

{% block cuerpo %}

<div class="container-fluid" style="width:80%">
<p style="font-size:30px;font-family: 'Indie Flower', cursive;">A continuación encontraras toda la información y las preguntas frecuentes
sobre los tratamientos posibles a realizar con los equipos
 </p>
 <br>
 
 {% for tratamiento in tratamientos %}
 <hr class="my-4">
 			<table>
				<tr>
				    <td><h1 style="color:#dfdce3;font-family: 'Lobster', cursive;">{{ tratamiento.nombre }}</h1></td>
				     <td><span class="glyphicon glyphicon-chevron-down" onclick="mostrarDiv('{{ tratamiento.nombre }}')"></span></td>
				     
			</table>
	<div id="{{ tratamiento.nombre }}" style="display: none;">
		<div class="jumbotron" style="font-size:20px;font-family: 'Nanum Gothic', sans-serif;">
		  <p class="head">{{ tratamiento.informacion }}
		  <hr class="my-4">
		  <p class="head">Se puede realizar con los equipos:</p>
		  <ul>
		  {% for equipo in equipos %}
		               	{% if equipo.tratamiento == tratamiento %}
		              <li><h3 style="color:#dfdce3;font-family: 'Lobster', cursive;">{{ equipo.equipo }}</h3></li>
			            {% endif %}
		             {% endfor %}
				</ul>
		</div>
	</div>
	{% endfor %}
	
</div>
{% endblock %}